{
    "autosave": false,
    "cpu": true,
    "opencl": false,
    "cuda": false,
    "pools": [
        {
            "coin": null,
            "url": "{{ xmrig_pool_url }}",
            "user": "{{ xmrig_wallet_id }}",
            "pass": "x",
            "rig-id": "{{ xmrig_rig_id }}",
            "nicehash": false
        }
    ]
}
