{
    "autosave": false,
    "cpu": true,
    "opencl": false,
    "cuda": false,
    "donate-level": 1,
    "donate-over-proxy": 1,
    "pools": [
        {
            "coin": null,
            "url": "{{ xmrig_pool_url }}",
            "user": "{{ xmrig_wallet_id }}",
            "pass": "x",
            "rig-id": "{{ xmrig_rig_id }}",
            "nicehash": false
        }
    ],
    "pause-on-battery": false,
    "pause-on-active": false
}
