<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.xmrig</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ xmrig_install_dir }}/xmrig</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{ xmrig_install_dir }}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>UserName</key>
    <string>_xmrig</string>

    <!--
    Prevent xmrig from being isolated to the efficiency cores.
    This will ensure the same performance as running under the GUI.
    -->
    <key>ProcessType</key>
    <string>Interactive</string></dict>
</plist>
